<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if page.style %}
      <link rel="stylesheet" href="{{ "/" | absolute_url }}assets/css/{{page.style}}" />
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2 class="heading">{{ page.title }}</h2>
        
        {% if page.recipe.image %}
          <img src="{{ "/" | absolute_url }}{{page.recipe.image}}" alt="recipe image" />
        {% else %}
          <div class="default-recipe-image"></div>
        {% endif %}


        {% if page.recipe.summary %}
          <ul class="recipe-summary">
            {% for line in page.recipe.summary %}
              <li>{{line}}</li>
            {% endfor %}
          </ul>
        {% endif %}


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>
          <small>&copy; 2020</small>
          {% if site.github.is_project_page %}
            {% if site.validator_logo %}
              <a href="https://validator.w3.org/check/referer">
                <img src="http://mumstudents.org/cs472/2014-09/images/w3c-html.png" alt="html validator">
              </a>
              <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="css validator">
              </a>
            {% endif %}
          {% endif %}
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>